theme "neovim"

on_force_close "quit"
copy_on_select false
pane_frames false
session_serialization false

keybinds clear-defaults=true {
    shared_except "normal" "renametab" "entersearch" "search" {
        bind "Esc" { SwitchToMode "Normal"; }
    }
    shared {
        bind "Alt t" { SwitchToMode "Tmux"; }
        bind "Alt [" { SwitchToMode "Scroll"; }
    }
    normal {
        bind "Alt c" { Copy; }

        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }

        bind "Alt Shift h" { MovePane "Left"; }
        bind "Alt Shift j" { MovePane "Down"; }
        bind "Alt Shift k" { MovePane "Up"; }
        bind "Alt Shift l" { MovePane "Right"; }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }
        bind "Alt 0" { GoToTab 10; }

        bind "Alt p" { MoveTab "Left"; SwitchToMode "Normal"; }
        bind "Alt n" { MoveTab "Right"; SwitchToMode "Normal"; }

        bind "Alt f" { ToggleFocusFullscreen; }
    }
    tmux {
        bind "Alt t" { SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "d" { Detach; }
    }
    renametab {
        bind "Esc" "Ctrl c" { UndoRenameTab; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }

    shared_among "scroll" "search" {
        bind "q" { SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "d" "Ctrl d" { HalfPageScrollDown; }
        bind "u" "Ctrl u" { HalfPageScrollUp; }
        bind "f" "Ctrl f" "PageDown" { PageScrollDown; }
        bind "b" "Ctrl b" "PageUp" { PageScrollUp; }
        bind "g" { ScrollToTop; }
        bind "G" { ScrollToBottom; }
    }
    scroll {
        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "/" { SwitchToMode "EnterSearch"; SearchInput 0; }
    }
    entersearch {
        bind "Esc" "Ctrl c" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "Esc" "Ctrl c" { SwitchToMode "Scroll"; }
        bind "/" { SwitchToMode "EnterSearch"; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "r" { SearchToggleOption "Wrap"; }
        bind "w" { SearchToggleOption "WholeWord"; }
    }
}
