on_force_close "quit"
copy_on_select true
mouse_mode true

theme "nightfox"

pane_frames false

keybinds clear-defaults=true {
    normal {
        bind "Alt t" { SwitchToMode "Tmux"; }
    }
    tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Alt t" { SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        // bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
    }
    scroll {
        bind "Esc" { SwitchToMode "Normal"; }
        bind "Alt t" { SwitchToMode "Tmux"; }
    }
}
