layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=#B6B8BB]{session} | {tabs}"
                format_center ""
                format_right  "{notifications} {datetime}"

                mode_normal         "#[bg=blue,fg=#000000,bold] NORMAL "
                mode_tmux           "#[bg=yellow,fg=#000000,bold] TMUX "
                mode_rename_tab     "#[bg=yellow,fg=#000000,bold] RENAME TAB "
                mode_scroll         "#[bg=#BE95FF,fg=#000000,bold] SCROLL "
                mode_enter_search   "#[bg=#BE95FF,fg=#000000,bold] ENTER SEARCH "
                mode_search         "#[bg=#BE95FF,fg=#000000,bold] SEARCH "

                tab_normal  "#[fg=black]  {index}: {name}  "
                tab_active  "#[fg=white] -{index}: {name}- "

                notification_format_unread           "#[bg=blue,fg=#000000,blink]  #[fg=#89B4FA,bg=#181825] {message} "
                notification_format_no_notifications ""
                notification_show_interval           "10"

                datetime        "#[bg=blue,fg=#000000,bold] {format} "
                datetime_format "%H:%M"
                datetime_timezone "Asia/Bangkok"
            }
        }
    }
}
