layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
                format_left   "{mode} #[fg=white]{session} | {tabs}"
                format_center ""
                format_space  ""

                mode_normal  "#[bg=blue,fg=#000000,bold] NORMAL "
                mode_tmux    "#[bg=green,fg=#000000,bold] TMUX "
                mode_scroll  "#[bg=yellow,fg=#000000,bold] SCROLL "

                tab_normal   "#[fg=#6C7086] {name} "
                tab_active   "#[fg=#9399B2,bold] {name} "
            }
        }
    }
}
